<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="card-title">{{ note.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    @if(note.content.length > maxContentLength ){
    {{ note.content.slice(0, maxContentLength) + '...' }}
    } @else {
    {{ note.content }}
    }
  </mat-card-content>
  <div class="container-buttons">
    <button mat-mini-fab (click)="editNote()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab (click)="deleteNote()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
