.card {
  //   background-color: white;
  padding: 20px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
  }

  &-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-content {
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .container-buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: auto;
  }
}
