<div class="container">
  <mat-card class="card" appearance="outlined">
    <mat-card-header class="card-title">
      <mat-card-title>Aplicacion de Notas </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      <p>
        Aplicacion de notas creada con Angular y Node.js con Express, creada con la finalidad de practicar las tecnologias y
        aplicar buenas practicas. Es necesario iniciar sesion para poder usar la aplicacion.
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" mat-button>INICIAR SESION</button>
      <button [routerLink]="['/auth/register']" mat-button>REGISTRARSE</button>
    </mat-card-actions>
  </mat-card>
</div>
