.card {
  border-radius: 2px;
  padding: 10px;
  .dialog {
    border-radius: 2px;
    h2 {
      text-align: center;
      color: #ddd;
      font-size: 1rem;
    }

    &-actions {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }
}
