<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content class="dialog">
  <form class="form" [formGroup]="form">
    <mat-form-field class="form-field">
      <mat-label>Titulo</mat-label>
      <input type="text" matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Contenido</mat-label>
      <textarea type="text" matInput class="textarea" formControlName="content"></textarea>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]>Cancelar</button>
    @if(dialogMode == 'create') {
    <button mat-flat-button (click)="saveNote()">Guardar</button>
    }@else {
    <button mat-flat-button (click)="updateNote()">Actualizar</button>}
  </mat-dialog-actions>
</mat-dialog-content>
